name: Update Data

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  repository_dispatch:
    types: [external_check_friend]
  # push:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - "api/static/data/*"

jobs:
  update-data:
    # if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Run
        run: node ./service/friend-checker.js

      - name: Commit and push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add public
          git commit -m 'chore: update data.json [auto]' || echo 'No changes to commit'
          git push
